# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
#nomenclature
! - bang, exclamation point
# - pound sign, or hash
[] - brackets
() - parathesis 
{} - braces
#! - shebang
% - grapes
< - angle brackets / greater than or less than
^ carrot

In [2]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [3]:
my_float = 2.3
print(my_float)
print(my_float + 2)
print(type(my_float))

2.3
4.3
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

##### Subtraction

In [5]:
num1 =2
num2 =5.7
result_diff = num1 - num2
print(result_diff)

-3.7

##### Multiplication

In [7]:
result_prod = num1*num2
print(result_prod)

11.4

##### Division

In [8]:
results_div = 4/2
print(results_div)

2.0

##### Floor Division

In [9]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [10]:
result_mod = 5%2
print(result_mod)

1

##### Exponential

In [13]:
result_exp = 5**2
print(result_exp)
result_exp**=2
print(result_exp)

25
625

### String Input-Output

##### String Assignment

In [16]:
name = 'Sabrina'
print(name)

Sabrina

In [19]:
name = "Sabrina's"
print(name)
name = 'Sabrina\'s'
print(name)

Sabrina's
Sabrina's

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
name = "Jalen"
print("Hello", name, "The Dawgs are No good", "Get ready to get Stung!", sep=' ** ',end=' ')
print("done")

Hello ** Jalen ** The Dawgs are No good ** Get ready to get Stung! done

##### String Concatenation

In [26]:
first = "Sabrina"
last = "Jurlina"
full_name = first + ' ' + last
print(full_name)
full_name += " is a funny individual"
print(full_name)

Sabrina Jurlina
Sabrina Jurlina is a funny individual

##### Type Conversion

In [29]:
#int() str() list() dict() tuple() set() float()

num1 = 3
num2 = '4'
print(num1 + int(num2))

7

In [30]:
num1 = 3
num2 = '4'
print(str(num1) + num2)

34

##### input()

In [33]:
age = int(input("What is your age? "))

print(age)
print(type(age))

What is your age? 31
31
<class 'int'>

##### format()

In [35]:
age = int(input("What is your age? "))
result_string = "You are {} years old and you are getting wiser!".format(age)
print(result_string)

What is your age? 31
You are 31 years old and you are getting wiser!

In [37]:
#f-strings
age = int(input("What is your age? "))
x = "Blah Blah Blah is all I hear in class today"
result_str = f'You are {age} years old and getting wiser! {x}'
print(result_str)

What is your age? 31
You are 31 years old and getting wiser! Blah Blah Blah is all I hear in class today

##### Old Way (python 2)

In [36]:
age = "35"
result_str = 'You are %s and you look great for your age! '%age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
color = input("What is the color of your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
result_str = f'You drive a {year} {make} {model} that is painted {color}!'
print(result_str)

What is the color of your car? red
What year is your car? 2014
What make is your car? jeep
What model is your car? grand cherokee
You drive a 2014 jeep grand cherokee that is painted red!

### If Statements

In [40]:
bool(5)

True

In [41]:
bool(0)

False

In [42]:
bool('a list')

True

In [43]:
bool('')

False

In [46]:
num1 = 2
num2 = 10

if num1 != num2:
   print('not equal')
else:
    print('equal')

not equal

In [59]:
num1 = 20
num2 = 2
#try and make this first if statement the most common condition
if num1 > num2:
    print('num1 is greater')
elif num1 < num2:
    print('num1 is lesser')
else:
    print('equal')

num1 is greater

In [60]:
if num2 ==2 and num1 == 15:
    print('yes')
else:
    print('no')

no

In [61]:
#ternary operator...inline if statement

name = "sabrina"
my_num = 5 if name == "steve" else 0
print(my_num)
my_num = 5 if name =='steve' else 10 if name == 'sabrina' else 0
print(my_num)

0
10

##### 'is' keyword

In [62]:
# only use this when asking is something is None
x = None
print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [65]:
#membership checks
char_name = "Max Payne"
if 'Max' in char_name:
    print("The character who lost everything..." )

The character who lost everything...

##### 'not in' keyword'

In [69]:
char_name = "Max Payne"
if 'Max' not in char_name:
    print("Max not in char_name")
else:
    print('this word is in char_name')

this word is in char_name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [74]:
person = input("who is your favorite person? ")
if "p" in person.lower():
    print("there's a p in this person's name!")
else:
    print("no p's here")

who is your favorite person? Panda
there's a p in this person's name!

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [77]:
# for [placeholder] in [iterable]
name = "sabrina"

for letter in name:
    print(f"the next letter is {letter}")
    print('another line')
    
print('a third line')

the next letter is s
another line
the next letter is a
another line
the next letter is b
another line
the next letter is r
another line
the next letter is i
another line
the next letter is n
another line
the next letter is a
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [105]:
name = "sabrina"

for letter in name:
    if letter == 'r':
        print(f"THE LETTER IS R ")
        continue
    print(f'the next letter is {letter}')
    print('another line')

the next letter is s
another line
the next letter is a
another line
the next letter is b
another line
THE LETTER IS R
the next letter is i
another line
the next letter is n
another line
the next letter is a
another line

##### Break Statement

In [112]:
name = "sabrina"

for letter in name:
    if letter == 'r':
        print(f"THE LETTER IS R ")
        break   
    print(f'the next letter is {letter}')
    print('another line')

the next letter is s
another line
the next letter is a
another line
the next letter is b
another line
THE LETTER IS R

##### Pass Statement

In [113]:
name = "sabrina"

for letter in name:
   pass
print('rest of program')

rest of program

In [119]:
foods = ['pizza', 'tacos', 'dim sum', 'sushi']
for food in foods:
    print(food)
    print(type(food))
print(len(foods))

pizza
<class 'str'>
tacos
<class 'str'>
dim sum
<class 'str'>
sushi
<class 'str'>
4

In [124]:
list(range(4))
for index in range(len(foods)):
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dim sum
3
sushi

In [126]:
#tuples!
for tuple in enumerate(foods):
    print(tuple)
for index, food in enumerate(foods):
    print("at index", index, "is the food: ", food)

(0, 'pizza')
(1, 'tacos')
(2, 'dim sum')
(3, 'sushi')
at index 0 is the food:  pizza
at index 1 is the food:  tacos
at index 2 is the food:  dim sum
at index 3 is the food:  sushi

In [122]:
#range function
list(range(0,8,2))

[0, 2, 4, 6]

##### Double For Loops

In [127]:
#try not to do this! this is very inefficient and makes your apps slow!
counter = 0

for i in range(5):
    for j in range(5):
        counter += 1
        print(f'i={i} j={j} total = {counter}')
    print()

i=0 j=0 total = 1
i=0 j=1 total = 2
i=0 j=2 total = 3
i=0 j=3 total = 4
i=0 j=4 total = 5

i=1 j=0 total = 6
i=1 j=1 total = 7
i=1 j=2 total = 8
i=1 j=3 total = 9
i=1 j=4 total = 10

i=2 j=0 total = 11
i=2 j=1 total = 12
i=2 j=2 total = 13
i=2 j=3 total = 14
i=2 j=4 total = 15

i=3 j=0 total = 16
i=3 j=1 total = 17
i=3 j=2 total = 18
i=3 j=3 total = 19
i=3 j=4 total = 20

i=4 j=0 total = 21
i=4 j=1 total = 22
i=4 j=2 total = 23
i=4 j=3 total = 24
i=4 j=4 total = 25

### While Loops

In [131]:
#while [boolean]:
    #do this codeblock
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [134]:
while True:
    print("Hello")
    num = int(input("guess the magic number "))
    if num == 5:
        break

Hello
guess the magic number 1
Hello
guess the magic number 3
Hello
guess the magic number 5

In [135]:
while True:
    user_input = input("What do you want to do? quit or continue?")
    if user_input.lower() == 'quit':
        break
    if user_input.lower() == 'continue':
        print("You said continue")

What do you want to do? quit or continue?continue
You said continue
What do you want to do? quit or continue?continue
You said continue
What do you want to do? quit or continue?quit

##### While & For Loops Used Together

In [137]:
num = 0
total = 0

while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        total += 1
        print("for loop iteration: ", i)
        print("Total Times inner Loop ran", total)
    num += 1

while loop iteration:  0
for loop iteration:  0
Total Times inner Loop ran 1
for loop iteration:  1
Total Times inner Loop ran 2
for loop iteration:  2
Total Times inner Loop ran 3
for loop iteration:  3
Total Times inner Loop ran 4
for loop iteration:  4
Total Times inner Loop ran 5
while loop iteration:  1
for loop iteration:  0
Total Times inner Loop ran 6
for loop iteration:  1
Total Times inner Loop ran 7
for loop iteration:  2
Total Times inner Loop ran 8
for loop iteration:  3
Total Times inner Loop ran 9
for loop iteration:  4
Total Times inner Loop ran 10
while loop iteration:  2
for loop iteration:  0
Total Times inner Loop ran 11
for loop iteration:  1
Total Times inner Loop ran 12
for loop iteration:  2
Total Times inner Loop ran 13
for loop iteration:  3
Total Times inner Loop ran 14
for loop iteration:  4
Total Times inner Loop ran 15
while loop iteration:  3
for loop iteration:  0
Total Times inner Loop ran 16
for loop iteration:  1
Total Times inner Loop ran 17
for loop iteration:  2
Total Times inner Loop ran 18
for loop iteration:  3
Total Times inner Loop ran 19
for loop iteration:  4
Total Times inner Loop ran 20
while loop iteration:  4
for loop iteration:  0
Total Times inner Loop ran 21
for loop iteration:  1
Total Times inner Loop ran 22
for loop iteration:  2
Total Times inner Loop ran 23
for loop iteration:  3
Total Times inner Loop ran 24
for loop iteration:  4
Total Times inner Loop ran 25

### Built-In Functions

##### range()

In [138]:
#these should be numbers
#range(start, stop, step)
#range(stop)
#range(start, stop)

list(range(0,4,1))

[0, 1, 2, 3]

In [139]:
list(range(4))

[0, 1, 2, 3]

In [140]:
list(range(0,4))

[0, 1, 2, 3]

##### len()

In [141]:
len('hey')
len(str(1234))

4

##### help()

In [142]:
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [146]:
num = 1
isinstance(num, list)
isinstance(num, float)
isinstance(num, int)

True

##### abs()

### Try and Except

### Lists

##### Declaring Lists

In [78]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [89]:
print(names[1])

a_list = [1, 2, 3,['a','b','c'],4]
print(a_list[3][1])
print(type(a_list[3][1]))
print(a_list[-2])
print(names[::-1])
print(names[::2])
print(names[1:3])
names[4:0:-1]
names[4::-1]

my_string = "racecar"
if my_string == my_string [::-1]:
    print("It's a palindrome!")

Patrick
b
<class 'str'>
['a', 'b', 'c']
['Armani', 'Moises', 'Patrick', 'Vanessa']
['Vanessa', 'Moises']
['Patrick', 'Moises']
It's a palindrome!

##### .append()

In [90]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']
names.append('Ramika')
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [91]:
names.insert(2, 'Sabrina')
print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani', 'Ramika']

##### .pop()

In [92]:
new_class=[]
new_class.append(names.pop())
print(names)
print(new_class)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']
['Ramika']


##### .remove()

In [96]:
names.remove('Sabrina')
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [98]:
#do not use del in for loops!!!
del names[1]
print(names)
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']
for i in range(len(names)):
    print(names[i])
    if i==2:
        del names[i]
print(names)
#NOOOOO DO NOT DO THIS deleting from a list while looping iz baddd

['Vanessa', 'Armani']
Vanessa
Patrick
Moises

IndexError: list index out of range

##### Concatenating Two Lists

In [99]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [101]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>